.team {
  margin-bottom: 150px;

  &__inner-wrapper {
  }

  &__container {
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 4px;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
  }

  &__heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 154px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(34, 40, 49, 0.05);
    width: 309px;
    height: 305px;
    position: relative;
    padding: 134px 61px 40px 62px;
    margin-bottom: 120px;

    &::before {
      content: url("./../../images/person-1.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }

    &:nth-child(2)::before {
      content: url("./../../images/person-2.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -33%;
      left: 10%;
    }
    &:nth-child(3)::before {
      content: url("./../../images/person-3.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(4)::before {
      content: url("./../../images/person-4.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(5)::before {
      content: url("./../../images/person-5.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(6)::before {
      content: url("./../../images/person-6.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(7)::before {
      content: url("./../../images/person-7.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(8)::before {
      content: url("./../../images/person-8.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(9)::before {
      content: url("./../../images/person-9.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(10)::before {
      content: url("./../../images/person-10.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(11)::before {
      content: url("./../../images/person-11.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
    &:nth-child(12)::before {
      content: url("./../../images/person-12.png");
      width: 164px;
      height: 164px;
      position: absolute;
      top: -25%;
      left: 25%;
    }
  }

  &__item-img {
  }

  &__item-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 4px;
    color: #000000;
    width: 235px;
    margin-left: -20px;
  }

  &__item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #787878;
    margin-bottom: 44px;
    margin-left: -1px;
    width: 213px;
    margin-left: -20px;
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 16px;
    gap: 20px;
  }

  &__item-wrapper-img {
    border: 1px solid #A4A7B1;
    border-radius: 50%;
    width: 39px;
    height: 39px;

    &:last-child {
      margin: 0;
    }
  }

  svg {
    border: 1px solid #222831;
  }

  &__item-path {
    background: #222831;
  }

  &__item-wrapper-link {
    text-decoration: none;
  }
}
